[project]
[receive]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group sony apq8064
	label-Code-Review = -2..+2 group xda-sony
	label-Verified = -1..+1 group sony apq8064
	label-Verified = -1..+1 group xda-sony
	submit = group sony apq8064
	submit = group xda-sony
[access]
	inheritFrom = CyanogenMod/android_device_sony_fuji-common
[submit]
	action = rebase if necessary
