[project]
[receive]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Sony 8960 Maintainers
	label-Code-Review = -2..+2 group sony apq8064
	label-Verified = -1..+1 group Sony 8960 Maintainers
	label-Verified = -1..+1 group sony apq8064
	submit = group Sony 8960 Maintainers
	submit = group sony apq8064
[access]
	inheritFrom = CyanogenMod/android_device_sony_fuji-common
[submit]
	action = rebase if necessary
