on boot
    # Owner for the proximity sensor
    chown system system /sys/devices/i2c-2/2-0054/threshold
    chown system system /sys/devices/i2c-2/2-0054/nburst

    # Panel backlight
    chown system system /sys/class/leds/lm3533-lcd-bl/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl/brightness

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/level

    # LM356x/cameralight
    chown system camera /sys/devices/i2c-0/0-0053/torch_enable
    chmod 660 /sys/devices/i2c-0/0-0053/torch_enable
    chown system camera /sys/devices/i2c-0/0-0053/torch_current
    chmod 660 /sys/devices/i2c-0/0-0053/torch_current
    chown system system /sys/devices/i2c-0/0-0053/privacy_enable
    chown system system /sys/devices/i2c-0/0-0053/privacy_current
    chown system camera /sys/devices/i2c-0/0-0053/flash_enable
    chown system camera /sys/devices/i2c-0/0-0053/flash_duration
    chown system camera /sys/devices/i2c-0/0-0053/flash_synchronization
    chmod 660 /sys/devices/i2c-0/0-0053/flash_synchronization
    chown system camera /sys/devices/i2c-0/0-0053/flash_current
    chmod 660 /sys/devices/i2c-0/0-0053/flash_current
    chown system camera /sys/devices/i2c-0/0-0053/status

    # Camera/Libals
    chown media input /dev/input/event11
