on boot
    # Owner for the proximity sensor
    chown system system /sys/devices/i2c-2/2-0054/threshold
    chown system system /sys/devices/i2c-2/2-0054/nburst

    # Owner for the light sensor
    chown system system /sys/devices/i2c-0/0-0036/als_enable
    chown system system /sys/devices/i2c-0/0-0036/als_result

    # Panel backlight
    chown system system /sys/class/leds/lm3533-lcd-bl/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl/brightness

    # LED
    chown system system /sys/class/leds/lm3533-red/brightness
    chmod 660 /sys/class/leds/lm3533-red/brightness
    chown system system /sys/class/leds/lm3533-green/brightness
    chmod 660 /sys/class/leds/lm3533-green/brightness
    chown system system /sys/class/leds/lm3533-blue/brightness
    chmod 660 /sys/class/leds/lm3533-blue/brightness
    chown system system /sys/class/leds/lm3533-red/pattern
    chmod 660 /sys/class/leds/lm3533-red/pattern
    chown system system /sys/class/leds/lm3533-green/pattern
    chmod 660 /sys/class/leds/lm3533-green/pattern
    chown system system /sys/class/leds/lm3533-blue/pattern
    chmod 660 /sys/class/leds/lm3533-blue/pattern

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/level

    # LM356x/cameralight
    chown system camera /sys/devices/i2c-0/0-0053/torch_enable
    chmod 660 /sys/devices/i2c-0/0-0053/torch_enable
    chown system camera /sys/devices/i2c-0/0-0053/torch_current
    chmod 660 /sys/devices/i2c-0/0-0053/torch_current
    chown system system /sys/devices/i2c-0/0-0053/privacy_enable
    chown system system /sys/devices/i2c-0/0-0053/privacy_current
    chown system camera /sys/devices/i2c-0/0-0053/flash_enable
    chown system camera /sys/devices/i2c-0/0-0053/flash_duration
    chown system camera /sys/devices/i2c-0/0-0053/flash_synchronization
    chmod 660 /sys/devices/i2c-0/0-0053/flash_synchronization
    chown system camera /sys/devices/i2c-0/0-0053/flash_current
    chmod 660 /sys/devices/i2c-0/0-0053/flash_current
    chown system camera /sys/devices/i2c-0/0-0053/status
